body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #a8edea,  /* нежный бирюзовый */
    #fed6e3   /* мягкий розовый */
  );
  font-family: system-ui, sans-serif;
  color: #1f2937; /* тёмный текст на светлом фоне */
}

/* section {
    height: 50px;
    margin-bottom: 50px;
    background-color: blue;
} */
input {
    vertical-align: middle;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    width: 75%;
}

button {
    vertical-align: middle;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    width: 24%;
}

.box {
    box-sizing: border-box;
    width: 50%;
    height: 750px;
    background: rgba(105, 105, 105, 0.2); /* полупрозрачный белый */
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 10px;
}

.mes {
    background-color: rgba(68, 68, 68, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.send {
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
}
.messages {
    height: 10px;
    margin-bottom: 10px;
}