body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #a8edea,  /* нежный бирюзовый */
    #fed6e3   /* мягкий розовый */
  );
  font-family: system-ui, sans-serif;
  color: #1f2937; /* тёмный текст на светлом фоне */
}

/* section {
    height: 50px;
    margin-bottom: 50px;
    background-color: blue;
} */
input {
    vertical-align: middle;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    width: 75%;
    border: none;
    outline: none;
    padding-left: 10px;
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }
    background-color: rgb(248, 215, 215);
    backdrop-filter: blur(10px);
}

.showtext {
    vertical-align: middle;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    width: 24%;
    border: none;
    outline: none;
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }
    background-color: rgb(248, 215, 215);
    backdrop-filter: blur(10px);
}

.box {
    box-sizing: border-box;
    width: 50%;
    height: 700px;
    background: rgba(105, 105, 105, 0.2); /* полупрозрачный белый */
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.mes {
    background-color: rgba(68, 68, 68, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-bottom-right-radius: 1px;
    margin-left: auto;
    max-width: 70%;
    word-wrap: break-word;
    width: max-content; /* имба, которая делает текст от правого края и ширину по тексту */
    width: fit-content; /* для каких-то древних браузеров, хз, гпт так сказал */
}

.send {
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
}
.messages {
    height: 10px;
    margin-bottom: 10px;
}
.hui {
    background-color: rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-bottom-left-radius: 1px;
    margin-right: auto;
    max-width: 70%;
    word-wrap: break-word;
    width: max-content; /* имба, которая делает текст от правого края и ширину по тексту */
    width: fit-content; /* для каких-то древних браузеров, хз, гпт так сказал */
}

/* .clear {
    position: absolute;
    left: 80%;
    width: 300px;
    height: 75px;
    border-radius: 50px;
    border: none;
    outline: none;
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }
    background: rgba(186, 48, 255, 0.171); полупрозрачный белый
    backdrop-filter: blur(100px);
} */