body {
    background-color: blueviolet;
}

/* section {
    height: 50px;
    margin-bottom: 50px;
    background-color: blue;
} */
input {
    vertical-align: middle;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
    width: 75%;
    box-sizing: border-box;
}

button {
    vertical-align: middle;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    width: 24%;
    box-sizing: border-box;
}

.box {
    width: 50%;
    height: 750px;
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.mes {
    background-color: brown;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.send {
    background-color: coral;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
}